.page-main {
  text-decoration: none;
  background-color: @white;
  background-image: url("./../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  &--background {
    min-height: 462px;
    background-image: url("./../img/iphone-hand-mobile@1x.png"), url("./../img/bg-back-mobile@1x.jpg");
    background-position: bottom top, bottom;
  }
}

.page-main__heading {
  margin: 0;
  padding: 50px 50px 60px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: @white;
}
