.page-footer {
  padding-top: 40px;
  text-align: center;
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0 auto;
  padding: 0;
  padding-top: 40px;
  list-style: none;
}

.page-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid @dark-opac;

  &:hover {
    border: 3px solid @dark;
  }

  &:active {
    border: 3px solid @dark;
    opacity: 0.3;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  width: 140px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  line-height: 18px;
}

.page-footer__copyright-text {
  margin-right: 15px;
}
