.page-footer {
  position: relative;
  padding-top: 43px;
  text-align: center;
}

.footer__contacts {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  background-color: @white;
}

.footer__contacts-container {
  width: 320px;
  margin: 0 auto;
}


.page-footer__map-wrapper {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 200px;
  background-image: url("./../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 320px auto;
  background-position: center bottom;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("./../img/bg-map-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 62px;
    background-image: url("./../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center -21px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    margin-left: -18px;
    background-image: url("./../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.page-footer__map {
  width: 100%;
}

.page-footer__social-wrapper {
  width: 280px;
  margin: 0 auto;

  &--cut {
    display: none;
  }
}


.page-footer__icon {
  display: none;

  &--glasses-mobile,
  &--text {
    display: block;
  }
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0 auto;
  padding: 32px 0 0;
  list-style: none;
}

.page-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid @dark-opac;
  fill: @pink;

  &:hover,
  &:focus {
    border: 3px solid @dark;
  }

  &:active {
    border: 3px solid @dark;
    opacity: 0.3;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  width: 130px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  line-height: 18px;
}

.page-footer__copyright-text {
  margin-right: 15px;
  font-weight: 400;
  line-height: 18px;
}

.page-footer__copyright-academy {
  fill: @pink;

  &:hover,
  &focus {
    fill: @dark;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: 660px) {
  .page-footer {
    padding: 0;
  }

  .footer__contacts-container {
    width: 660px;
    padding-top: 48px;
  }

  .page-footer__map-wrapper {
    width: 100%;
    height: 370px;
    background-image: url("./../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -400px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("./../img/bg-map-tablet@2x.jpg");
      background-size: 100% auto;
    }

    &::before {
      content: "";
      position: absolute;
      height: 123px;
      background-image: url("./../img/bg-triangle-white-footer.svg");
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: center -59px;
      background-size: cover;
    }
  }

  .page-footer__map {
    height: 370px;
  }

  .page-footer__social-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 620px;
    margin: 35px auto;
  }

  .page-footer__logo {
    display: inline-block;
    width: 152px;
  }

  .page-footer__social {
    width: 180px;
    margin: 0;
    padding-top: 0;
  }

  .page-footer__copyright {
    width: 153px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .footer__contacts {
    margin-top: 18px;
  }

  .footer__contacts-container {
    width: 1200px;
  }

  .page-footer__social-wrapper {
    width: 940px;
    margin: 70px auto;
  }

  .page-footer__icon {
    display: none;

    &--glasses-desktop,
    &--star,
    &--stars,
    &--text {
      display: block;
    }
  }

  .page-footer__copyright-text {
    font-size: 18px;
  }

  .page-footer__map-wrapper {
    width: 100%;
    height: 500px;
    margin-top: 16px;
    background-image: url("./../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("./../img/bg-map-desktop@2x.jpg");
      background-size: 100% auto;
    }

    &::before {
      content: "";
      position: absolute;
      height: 140px;
      background-image: url("./../img/bg-triangle-white-footer.svg");
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: center -42px;
      background-size: cover;
    }
  }

  .page-footer__map {
    min-height: 500px;
  }
}
