.photo {
  text-align: center;
  background-color: @white;
}

.photo__paragraph {
  width: 280px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 400;
  line-height: 30px;
  color: @dark;
}

.photo__list {
  padding: 0;
  text-align: left;
  list-style: none;
}

.photo__item {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 28px;
  background-color: @grey;
}

.photo__item--panorama {
  position: relative;
  width: 100%;
  padding: 0;
  padding-bottom: 28px;
}

.photo__best-panorama {
  position: absolute;
  left: 56%;
  width: 140px;
  height: 36px;
  background-color: @hover-mob-color;
  text-align: center;
}

.photo__best-text {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: @white;
}

.photo__author {
  padding-top: 25px;
  padding-left: 17px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.photo__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}

.photo__comment {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 300;
  line-height: 24px;
}

.photo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  padding-left: 18px;
}

.photo__like {
  width: 13px;
  height: 12px;
  background-image: url("./../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.photo__like-number {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: @hover-mob-color;
}
